<footer class="footer">
  <section class="container">
    ©
    {{ if (and .Site.Params.since (lt .Site.Params.since now.Year)) }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{ now.Year }}
    {{ with .Site.Params.author }} {{ . }} {{ end }}
    ·
    {{ if (and .Site.Params.license) }}
      {{ i18n "licensed_under" }} {{ .Site.Params.license | safeHTML }}
    ·
    {{ end }}
    <a href="https://github.com/berkas1/securitytxt.cz">https://github.com/berkas1/securitytxt.cz</a>
  </section>
</footer>

<script data-goatcounter="https://securitytxtcz.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
